.circuitList {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 6px;
   flex-wrap: wrap;
   margin-bottom: 12px;
}

.circuitList .circuitCard {
   width: 200px;
}

.circuitCard {
   display: inline-block;
   padding: 12px;
   background-color: white;
   border-radius: 3px;
   max-width: 240px;
   /* margin: auto; */
}

.circuitCity {
   font-weight: 800;
   font-size: 1.5em;
}

.circuitNumber {
   display: block;
   margin-bottom: 6px;
   margin-right: 6px;
   font-size: 1.5em;
}

.circuitStats {
   margin-top: 12px;
}

.circuitStats span,
.circuitVoteHistory span {
   display: block;
   font-size: 0.8rem;
   margin-bottom: 3px;
}

.circuitVoteHistory {
   margin-top: 12px;
}

.swingFactor {
   font-weight: 800;
}

.swingInfo {
   margin-top: 6px;
}

.swingFactor {
   display: block;
   font-size: 0.8rem;
   margin-top: 3px;
}

.swingInfo span {
   font-weight: 800;
   color: var(--shadow-1);
}

.swingInfo.supportLight span {
   color: green;
}

.swingInfo.supportStrong span {
   color: rgb(209, 160, 0);
}

.swingInfo.supportVeryStrong span {
   color: rgb(216, 0, 0);
}
