.circuitCard {
   display: inline-block;
   padding: 12px;
   background-color: white;
   border-radius: 3px;
   margin-left: 12px;
   margin-top: 12px;
}

.circuitCity {
   font-weight: 800;
   font-size: 1.5em;
}

.circuitNumber {
   display: block;
   margin-bottom: 6px;
   margin-right: 6px;
   font-size: 1.5em;
}

.circuitStats {
   margin-top: 12px;
}

.circuitStats span,
.circuitVoteHistory span {
   display: block;
   font-size: 0.8rem;
   margin-bottom: 3px;
}

.circuitVoteHistory {
   margin-top: 12px;
}

.swingFactor {
   font-weight: 800;
}

.swingInfo {
   margin-top: 3px;
}

.swingInfo span {
   font-weight: 800;
   color: var(--shadow-1);
}

.swingInfo.supportLight span {
   color: green;
}

.swingInfo.supportStrong span {
   color: rgb(201, 154, 0);
}

.swingInfo.supportVeryStrong span {
   color: rgb(206, 14, 0);
}
