.circuitList {
   border: 3px solid red;
   background-color: red;
   height: 100px;
}

.circuitCard {
   display: inline-block;
   padding: 12px;
   background-color: white;
   border-radius: 3px;
   margin-left: 12px;
}

.circuitCard:first-of-type {
}

.circuitCity {
   font-weight: 600;
   font-size: 1.5em;
}

.circuitNumber {
   display: block;
   margin-bottom: 6px;
   margin-right: 6px;
   font-size: 1.5em;
}

.circuitStats {
   margin-top: 12px;
}

.circuitStats span,
.circuitVoteHistory span {
   display: block;
   font-size: 0.8rem;
   margin-bottom: 3px;
}

.circuitVoteHistory {
   margin-top: 12px;
}

.swingFactor {
   font-weight: 800;
}
