@import url('./includes/fonts.css');

* {
   border: 0;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Lato';
}

html {
   font-size: 14px;
}

body {
   background-color: #f3f3f3;
}

body,
body * {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

:root {
   --light-1: rgb(221, 221, 221);
   --shadow-1: rgb(0, 75, 126);
   --highlight-1: rgb(255, 208, 0);
   --highlight-2: rgb(255, 228, 106);
   --highlight-3: rgb(94, 224, 207);
   --highlight-4: rgb(98, 255, 247);
   --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body::-webkit-scrollbar {
   display: none;
}
