@import url('./includes/fonts.css');

* {
   border: 0;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Lato';
}

html {
   font-size: 14px;
}

body {
   background-color: #f3f3f3;
}

:root {
   --shadow-1: rgb(0, 75, 126);
   --highlight-1: rgb(98, 255, 93);
   --shadow-1: #125a85;
}

.btnPlanTrip {
   min-width: 180px;
   box-shadow: var(--shadow-1);
   background-color: white;
   border-radius: 3px;
   padding: 12px 18px;
   display: block;
   margin: 12px;
   font-size: 1.25em;
   font-weight: 600;
   border-radius: 100px;
   background-color: var(--shadow-1);
   color: white;
   cursor: pointer;
}

.btnPlanTrip:active {
   background-color: black;
   color: white;
}
