.tripPlanner {
   padding: 12px;
   grid-gap: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #212121;
   background: linear-gradient(180deg, rgb(13, 158, 0) 0%, rgb(25, 97, 16) 25%);
}

.tripPlanner h2 {
   color: white;
   border-radius: 60px;
   text-align: center;
   margin-bottom: 12px;
   margin-top: 6px;
   font-weight: 600;
   font-size: 1.8rem;
}

.tripDetails {
   background-color: white;
   margin: auto;
   border-radius: 6px;
   padding: 18px;
   box-shadow: var(--box-shadow-1);
}

@media screen and (min-width: 768px) {
   .tripDetails {
      max-width: 500px;
      margin-bottom: 24px;
   }
}

.tripDetails section {
   text-align: center;
}

.tripDetails .locations {
   font-weight: 800;
   font-size: 1.75rem;
   margin-bottom: 12px;
}

.tripDetails .locations .arrow {
   margin: 0px 12px;
   font-size: 1.5rem;
   line-height: 1rem;
}

.closestDistricts {
   margin-top: 12px;
   margin-bottom: 18px;
}

.tripDetails h3 {
   font-size: 1.1rem;
   margin-bottom: 18px;
   margin-top: 18px;
   text-align: center;
   font-weight: 800;
}

.closestDistricts .closestDistrict {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 3px;
   text-align: left;
   margin-bottom: 6px;
}

.closestDistrict button {
   padding: 6px;
   border-radius: 60px;
   background-color: var(--highlight-1);
}

.closestDistrict .name {
   text-align: left;
}

.closestDistrict section {
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.closestDistrict section span {
   /* border: 1px solid lime; */
   display: block;
}

.closestDistrict .distance {
   text-align: center;
}

.explainerWrapper {
   margin-bottom: 12px;
}

.explainerWrapper span {
   display: block;
   text-align: left;
   margin-bottom: 12px;
}

.score {
   font-weight: 800;
   margin: auto;
   max-width: 100px;
   display: block;
   padding: 6px 0px;
   border-radius: 60px;
}

.score.good {
   background-color: green;
   color: white;
}

.score.bad {
   background-color: red;
   color: white;
}

.scoreNote {
   margin-top: 12px;
   color: red;
   font-weight: 600;
}

.scoreNote span {
   display: block;
}
