.tripPlanner {
   padding: 12px;
   grid-gap: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--highlight-2);
}

.tripPlanner h2 {
   color: black;
   border-radius: 60px;
   text-align: center;
   margin-bottom: 12px;
   margin-top: 6px;
   font-weight: 600;
   font-size: 1.8rem;
}

.tripDetails {
   background-color: white;
   border-radius: 3px;
   padding: 18px;
}

.tripDetails section {
   text-align: center;
}

.tripDetails .locations {
   font-weight: 600;
   font-size: 1.25rem;
}

.tripDetails .locations .arrow {
   margin: 0px 12px;
   font-size: 1.8rem;
   line-height: 1rem;
   font-weight: 800;
}
