.mapWrapper {
   height: 100vh;
   width: 100%;
   display: block;
   margin: auto;
}

.markerLabel {
   position: relative;
   background-color: darkgreen;
   padding: 6px;
   border-radius: 6px;
   font-size: 10px;
   border: 1px solid white;
}

.markerLabel::before {
   content: ' ';
   transform: rotate(45deg);
   width: 10px;
   height: 10px;
   background-color: white;
   position: absolute;
   bottom: -5px;
   left: 45%;
   z-index: -1;
}
