.mapWrapper {
   height: 100vh;
   width: 100%;
   display: block;
   margin: 0;
   transition: 1s ease all;
}

.mapWrapper.trip {
   height: 80vh;
}

div:has(.markerLabel) {
   z-index: 50;
}

.markerLabel {
   position: relative;
   background-color: darkgreen;
   padding: 6px;
   border-radius: 6px;
   font-size: 10px;
   /* width: 100px; */
}

.markerLabel::before {
   content: ' ';
   transform: rotate(45deg);
   width: 10px;
   height: 10px;
   background-color: darkgreen;
   position: absolute;
   bottom: -5px;
   left: 45%;
   z-index: -1;
}

.markerLabel::after {
   width: 100%;
   /* display: block; */
   position: absolute;
   top: -24px;
   left: 0;
   padding: 3px 0px;
   border-radius: 6px;
   /* margin: auto; */
   background-color: var(--highlight-1);
   color: black;
   content: 'najbliżej';
   font-size: 0.7rem;
   font-weight: 800;
}
