article:has(.mapNode) {
   transform: translate(-10px, -10px);
}

.mapNode {
   display: block;
   position: relative;
   display: grid;
   grid-template-columns: 2em 1fr;
   background-color: white;
   border-radius: 60px;
   transition: 0.3s all ease;
   opacity: 0.9;
}

.mapNode:hover {
   cursor: pointer;
}

.numberWrapper {
   color: rgb(255, 255, 255);
   background-color: rgb(0, 75, 126);
   text-align: center;
   width: 2em;
   height: 2em;
   font-size: 13px;
   font-weight: 600;
   padding: 3px;
   border-radius: 100px;
   opacity: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 0.3s all ease;
}

.textWrapper {
   padding: 0px 6px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.textWrapper span {
   display: block;
}

.mapNode span {
   display: block;
}

/* put node on top when clicked */
div:has(.origin) {
   z-index: 1 !important;
}

.destination {
   background-color: var(--highlight-2);
}

.origin {
   background-color: var(--highlight-1);
}

.irrelevant {
   opacity: 0.25;
   background-color: black;
}

.irrelevant .numberWrapper {
   background-color: grey;
}

.btnViewTrips {
   width: 100%;
   margin-top: 3px;
   display: block;
   text-align: center;
   border-radius: 60px;
   background-color: var(--highlight-3);
   padding: 6px;
   color: black;
}
