section:has(.mapNode) {
   transform: translate(-10px, -10px);
}

.mapNode {
   display: block;
   position: relative;
   display: grid;
   grid-template-columns: 2em 1fr;
   background-color: rgb(32 43 47);
   border-radius: 60px;
   transition: 0.3s all ease;
   opacity: 0.9;
}

.mapNode span {
   color: white;
}

.mapNode:hover {
   cursor: pointer;
}

.mapNode .numberWrapper {
   background-color: rgb(44 59 65);
   text-align: center;
   width: 2em;
   height: 2em;
   font-size: 13px;
   font-weight: 600;
   padding: 3px;
   border-radius: 100px;
   opacity: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 0.3s all ease;
}

.textWrapper {
   padding: 0px 6px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.textWrapper span {
   display: block;
}

.mapNode span {
   display: block;
}

/* put node on top when clicked */
div:has(.origin),
div:has(.destination) {
   z-index: 1 !important;
}

div:has(.irrelevant) {
   z-index: 0;
}

.destination {
   background-color: rgb(21, 124, 0);
   color: white;
}

.destination .numberWrapper {
   background-color: rgb(18, 185, 54);
}

.origin {
   background-color: rgb(146, 78, 1);
   color: white;
}

.origin .numberWrapper {
   background-color: rgb(202, 113, 11);
}

.irrelevant {
   opacity: 0.5;
   background-color: #1c1c1c;
   color: #515151;
}

.irrelevant .numberWrapper {
   background-color: #3b3b3b;
   color: #7d7d7d;
}

.btnViewTrips {
   width: 100%;
   margin-top: 3px;
   display: block;
   text-align: center;
   border-radius: 60px;
   background-color: var(--highlight-3);
   padding: 6px;
   color: black;
}
